
body {
    background-color: lightgrey;
}

h1{
    color: black;
}
p {
    color: black;
    text-align: left;
    padding-left: 5%;
    padding-bottom: 0%;
}

a {
    color: inherit;
    text-decoration: inherit;
}
a:hover {
    color: inherit;
    text-decoration: inherit;
}

textarea {
    width: 100%;
}


.logga {
    /* Bredden är 95% av produktrutan */
    width: 95%;
    /* Höjden är 200px */
    height: 200px;
    /* Bilden skalas för att få plats, och kanterna görs rundade. */
    object-fit: scale-down;
    border-radius: 5px;
}

.divmellanrum {
    padding-bottom: 10px;
}

.toppdel {
    width: 100%;
    min-height: 100px;
    height: fit-content;
    background-color: whitesmoke;
    margin: auto;
    padding: 5px;
    text-align: center;
}

.sakbox {
    width: 90%;
    min-height: fit-content;
    height: fit-content;
    background-color: white;
    margin: auto;
    border-radius: 20px;
    margin-bottom: 1%;


}
.sakbox:hover {
    background-color: darkgray;
}

.titeln {
    margin: 10px;
    padding: 5%;
    padding-top: 5%;
    font-weight: 1000;
    font-size: x-large;
    word-wrap: break-word;
    border-bottom: 5px solid black;


}
.brodtext {
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    font-size: medium;
    font-weight: 500;
    word-break: break-word;

}

.merknappsDiv {
    margin: auto;
    padding: 5px;
    text-align: center; 
    width: 50%;
}
.merknappsDiv button {
    border: none;
    color: blue;
    width: fit-content;
    height: 100%;
}

.wholeBlock {
    width: 100%;
    border: none;
    margin: auto;
    padding: 1px;
    min-height: 600px;    
    height: fit-content;

}

.elementLeftSide {
    min-height: 500px;
    height: 100%;
    width: 20%;
    float: left;
    margin: auto;
    text-align: center;
    padding-top: 0%;
}

.elementRightSide {
    min-height: 500px;
    height: 200%;
    width: 20%;
    float: left;
    text-align: center;
}


.elementMiddlePart {
    min-height: 600px;
    height: inherit;
    width: 60%;
    float: left;

}

.hidden {
    display: none;
}

.verticalAd {
    padding-top: 15px;
    margin: auto;
    object-fit: scale-down;
    overflow: hidden;
    width: 90%;
}



/* Style the button and form container */
.button-container {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 5px;
  }

  .dropdown-button {
    background-color: whitesmoke;
    color: darkslategrey;
    padding: 10px;
    border: grey solid;
    border-radius: 5px;
    cursor: pointer;
  }

  .form-container {
    display: none;
    padding: 5px;
    margin-top: 10px;
    background-color: darkslategrey;
    color: white;
    width: 80%;
    border-radius: 10px;
  }

  /* Style form elements */
  .form-container form {
    width: 100%;
    margin: auto;
    word-break:break-all;
  }

  .form-container input, .form-container button, .form-container textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }

  .form-container button {
    background-color: darkred;
    color: white;
    border: none;
    cursor: pointer;
    width: 40%;
  }


@media screen and (max-width: 992px) {
    .elementRightSide {
        width: 0%;
    }
    .elementMiddlePart {
        width: 70%;
        margin: 0%;
    }
    .elementLeftSide{
        width: 30%;
        margin: auto;
    }
}

@media screen and (max-width: 650px) {
    .elementLeftSide {
        width: 0%;
    }
    .elementRightSide {
        width: 0%;
    }
    .elementMiddlePart {
        width: 99%;
        margin: auto;
    }
    .form-container {
    width: 99%;
    }
    .dropdown-button {
        width: 90%;
    }
}