/* Bakgrundsfärg på sidan samt vilket font som ska användas genom hela . */
body {
    background-color: #FFCC99;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*Denna används för att göra h1-texten universellt svart.*/
h1{
    color: #000000;
}
/*Färg på texten samt padding då denna text infinner sig i sakboxarna (inläggen.)*/
p {
    color: #000000;
    text-align: left;
    padding-left: 5%;
    padding-bottom: 0%;
}
/*Gör så att texten ser likadan ut även om det är en länk*/
a {
    color: inherit;
    text-decoration: inherit;
}
/*Samma som ovan*/
a:hover {
    color: inherit;
    text-decoration: inherit;
}

/*Textarean har bredden 100%*/
textarea {
    width: 100%;
}

/*Toppdelen är hela ytan somm innehåller loggan*/
.toppdel {
    width: 100%;
    min-height: 100px;
    height: fit-content;
    margin: auto;
    padding: 5px;
    text-align: center;
    background-color: #FFCC66;
}

/*Den här innehåller css för loggan på toppen av sidan*/
.logga {
    /* Bredden är 95% av produktrutan */
    width: 95%;
    /* Höjden är 200px */
    height: 200px;
    /* Bilden skalas för att få plats, och kanterna görs rundade. */
    object-fit: scale-down;
    border-radius: 5px;
}
/*Ett universellt mellanrum*/
.divmellanrum {
    padding-bottom: 10px;
}

/*Sakboxarna är inläggen i sidan. De är vita tills de hovras över (se .sakbox:hover)*/
.sakbox {
    width: 90%;
    min-height: fit-content;
    height: fit-content;
    background-color: #FFFFFF;
    margin: auto;
    border-radius: 20px;
    margin-bottom: 1%;
}
.sakbox:hover {
    background-color: #669999;
}

/*Titeln på varje inlägg har detta*/
.titeln {
    margin: 10px;
    padding: 5%;
    padding-top: 5%;
    font-weight: 1000;
    font-size: x-large;
    word-wrap: break-word;
    border-bottom: 5px solid #000000;


}
/*Brodtext är namnet jag valt att använda för den stora texten på inläggen, brödtexten*/
.brodtext {
    padding: 2%;
    font-size: medium;
    font-weight: 500;
    word-break: break-word;
}

/*.hidden är den style som används i brödtexterna för att gömma eller visa spannet (resten av texten)*/
.hidden {
    display: none;
}

/*Den här .merKnappsDiv är all css för att styla toggle-knappen för alla brödtexter i index.html */
.merknappsDiv {
    margin: auto;
    padding: 5px;
    text-align: center; 
    width: 50%;
}
.merknappsDiv button {
    border: none;
    color: #6633FF;
    width: fit-content;
    height: 100%;
}
/* wholeblock är vänster,mitten och högerled i min hemsida. Det är allt under navbar:en och loggan och knappen. */
.wholeBlock {
    width: 100%;
    border: none;
    margin: auto;
    padding: 1px;
    min-height: 600px;
    height: max-content;

}
/*Det första elementen är leftSide och rightside med dessa css.*/
.elementLeftSide, .elementRightSide {
    min-height: 500px;
    height: 100%;
    width: 20%;
    float: left;
    margin: auto;
    text-align: center;
    padding-top: 0%;
}
/*Mittendelen är den som egentligen innehåller allt content, alla inlägg.*/
.elementMiddlePart {
    min-height: 600px;
    height: inherit;
    width: 60%;
    float: left;

}

/*Verticalad är css för att skala ned bilderna jag har på vänster/höger sida. Den stylar bilden.*/
.verticalAd {
    padding-top: 15px;
    margin: auto;
    object-fit: scale-down;
    overflow: hidden;
    width: 90%;
    min-height: fit-content;
}

/*navbar är den bootstrap-kontrollerade navbaren. Den ska stå högst ovan alla andra*/
.navbar {
    z-index: 1000;
}

/*något som får klassen sticky kommer fastna x antal pixlar från toppen när man skrollar ned.*/
.sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 50px;
}
/*när .navbar och .sticky är på samma element (som bara sker på navbar) stannar den exakt på toppen.*/
.navbar.sticky {
    top:0;
}

/*buttoncontainer är en del av skapa-knappen. Den är den som gör att skapa-containern under hoppar ut rätt.*/
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 5px;
}

/*dropdown button är själva knappen som öppnar det, och alla style-element som då förekommer.*/
.dropdown-button {
    background-color: #FFFFFF;
    color: #003366;
    padding: 10px;
    border: #669999 solid;
    border-radius: 5px;
    cursor: pointer;
}


/*stilen för containern som skickas ned och innehåller formet.*/
.form-container {
    display: none;
    padding: 5px;
    margin-top: 10px;
    background-color: #003366;
    color: #FFFFFF;
    width: 80%;
    border-radius: 10px;
}
/*stilen för alla form-taggar inuti.*/
.form-container form {
    width: 100%;
    margin: auto;
    word-break:break-all;
}
/*överlappande stilar för dessa container-relaterade klasser*/
.form-container input, .form-container button, .form-container textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
/*knappen som har SKAPA på sig, skapa-knappen.*/
.form-container button {
    background-color: #990000;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    width: 40%;
}
/*När man hovrar över ska den byta färg.*/
.form-container button:hover {
    background-color: #FF9999;
    color: #6600FF;
}

.slut {
    height: 500px;
}

/*Ändrar storleken på saker om sidan är under vidden x.*/
@media screen and (max-width: 992px) {
    .elementRightSide {
        width: 0%;
    }
    .elementMiddlePart {
        width: 70%;
        margin: 0%;
    }
    .elementLeftSide{
        width: 30%;
        margin: auto;
    }
}
/*Samma här*/
@media screen and (max-width: 650px) {
    .elementLeftSide {
        width: 0%;
    }
    .elementRightSide {
        width: 0%;
    }
    .elementMiddlePart {
        width: 99%;
        margin: auto;
    }
    .form-container {
    width: 99%;
    }
    .dropdown-button {
        width: 90%;
    }
}